<form id="new-article">
  <input type="text" name="title" placeholder="Enter title"/>
  <input type="text" name="body" placeholder="Enter body"/>
  <input type="submit" value="Create an Article"/>
</form>

<button id='get-articles'>Get Articles</button>

<ul id='articles'>
</ul>